#countries{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px
}

.visited-flags{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    border:1px solid #ccc;
    padding:10px;

}