.country {
    border: 2px solid salmon;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    
}
.btn{
    padding: 8px 10px;
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
    cursor:pointer;
    font-weight: 700;
}



.country-visited{
    background-color: aquamarine;
}
